body{
    background-image: url("bg.png");
    background-size: cover;
}

.layout{
    width: 1080px;
    height: 100%;
    margin: 10% auto;
    position: relative;
}

.box1{
    /*float: left;*/
    background-color: white;
    width: 50%;
    height: 500px;
    position: relative;
    top: 22.333333%;
    box-shadow : 2px 2px 10px silver;
    z-index: 1;
}

.box2{
    z-index: 0;
    position: absolute;
    top: 2%;
    right: 0;
    width: 50%;
    background: linear-gradient(45deg, #ffcd36, #ffd760);
    /*background-color: linear-gradient( to bottom, yellow, red )*/
    /*background-color: #ffcd36;*/
    /*background-color: linear-gradient(#ffcd36, white);*/
    height: 510px;
}

#logo{
    position: absolute;
    left: 23.33333%;
    top: 20%;
}

.form_layout{
    width: 100%;
    padding-top: 100px;
    text-align: center;
    color: white;
}

.form{
    text-align: left;
    width: 350px;
    height: 100%;
    margin: 0 auto;
}

.form [type='text'],[type='password']{
    display: block;
    padding: 1.2rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}

.form [type='submit']{
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    padding: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    background-color: white;
    color: #ffcd36;
    font-size: 15px;
    border: none;
    border-radius: 5px;
}

.form_layout a{
    text-decoration: none;
    color: white;
}

.border{
    overflow: hidden;
    margin : 0 auto;
    margin-top: 5rem;
}

.border button{
    padding: 2rem;
    padding-bottom: 60px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    border: none;
    width: 450px;
    height: 20px;
    margin-bottom: 20rem;
    letter-spacing: 0.05em;
    color: #ffd156;
    transition: all .3s linear;
}

.border button:hover{
    transform: scale(1.2);
    background-color: rgba(240,191,60,0.5);
    transition: all .3s linear;
    box-shadow: 0 0 5px #f0a23c;
}

.border button:focus{
    outline: 0;
}